@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #58CC02;
  --brand-dark: #4CAD02;
  --surface: #F0F0F0;
}

body {
  background-color: var(--surface);
}

/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
